/* task-list.component.scss */
.task-list {
  margin-top: 20px;

  /* Add this to your SCSS file */
.placeholder-message {
  position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #999; /* Placeholder message color */
    font-style: italic;
    font-size: 18px; /* Adjust font size as needed */
}

  .task-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    h3 {
      color: #333;
      margin-top: 0;
    }

    p {
      color: #666;
      margin-bottom: 10px;
    }

    p.completed {
      color: #4caf50; // Green color for completed tasks
    }

    p.expired {
      color: #f44336; // Red color for expired tasks
    }

    button {
      background-color: #ab1919; // Red color for delete button
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #9b1616; // Darker red color on hover
      }
    }
  }
}
